
*.jou
*.log
*.str
*.zip

test_qspi_kcu105/ip/xcku040-ffva1156-2-e/clockManager/*
!test_qspi_kcu105/ip/xcku040-ffva1156-2-e/clockManager/*xci

test_qspi_kcu105/ip/xcku040-ffva1156-2-e/ila_0/*
!test_qspi_kcu105/ip/xcku040-ffva1156-2-e/ila_0/*xci

test_qspi_kcu105/ip/xcku040-ffva1156-2-e/vio_0/*
!test_qspi_kcu105/ip/xcku040-ffva1156-2-e/vio_0/*xci

test_qspi_kcu105/ip/xcku040-ffva1156-2-e/readbackfifo/
!test_qspi_kcu105/ip/xcku040-ffva1156-2-e/readbackfifo/*xci

test_qspi_kcu105/ip/xcku040-ffva1156-2-e/writefifo/
!test_qspi_kcu105/ip/xcku040-ffva1156-2-e/writefifo/*xci

test_qspi_kcu105/ip/xcku035-ffva1156-1-c/clockManager/*
!test_qspi_kcu105/ip/xcku035-ffva1156-1-c/clockManager/*xci

test_qspi_kcu105/ip/xcku035-ffva1156-1-c/ila_0/*
!test_qspi_kcu105/ip/xcku035-ffva1156-1-c/ila_0/*xci

test_qspi_kcu105/ip/xcku035-ffva1156-1-c/vio_0/*
!test_qspi_kcu105/ip/xcku035-ffva1156-1-c/vio_0/*xci

test_qspi_kcu105/ip/xcku035-ffva1156-1-c/readbackfifo/
!test_qspi_kcu105/ip/xcku035-ffva1156-1-c/readbackfifo/*xci

test_qspi_kcu105/ip/xcku035-ffva1156-1-c/writefifo/
!test_qspi_kcu105/ip/xcku035-ffva1156-1-c/writefifo/*xci

test_qspi_kcu105/project/test_qspi_kcu105.cache/
test_qspi_kcu105/project/test_qspi_kcu105.hw/
test_qspi_kcu105/project/test_qspi_kcu105.runs/
test_qspi_kcu105/project/test_qspi_kcu105.ip_user_files/

tcls/othertcls/
tcls/plots
tcls/reports
tcls/*bin
tcls/*txt

tcls/promcotent
gth_wizard_ex/project/project_gth_wizard_ex.runs/

gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/clockManager/*
!gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/clockManager/*xci

gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1/*
!gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1/*xci

gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1_vio_0/*
!gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1_vio_0/*xci

gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/ila_0/*
!gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/ila_0/*xci

gth_wizard_ex/ip/xcku040-ffva1156-2-e/clockManager/*
!gth_wizard_ex/ip/xcku040-ffva1156-2-e/clockManager/*xci

gth_wizard_ex/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1/*
!gth_wizard_ex/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1/*xci

gth_wizard_ex/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1_vio_0/*
!gth_wizard_ex/ip/xcku040-ffva1156-2-e/gtwizard_ultrascale_1_vio_0/*xci

gth_wizard_ex/ip/xcku040-ffva1156-2-e/ila_0/*
!gth_wizard_ex/ip/xcku040-ffva1156-2-e/ila_0/*xci

KitexUltrascale_Template_fifo/tb_project/tb_project.cache/
KitexUltrascale_Template_fifo/tb_project/tb_project.hw/
KitexUltrascale_Template_fifo/tb_project/tb_project.runs/
KitexUltrascale_Template_fifo/tb_project/tb_project.sim/
KitexUltrascale_Template_fifo/tb_project/tb_project.ip_user_files/
KitexUltrascale_Template_fifo/tb_project/tb_project.srcs/
KitexUltrascale_Template_fifo/ip/*
!KitexUltrascale_Template_fifo/ip/xcku040-ffva1156-2-e/clockManager/xci*

fifo_generator_0_ex/

gth_wizard_ex/ip/xcku040-ffva1156-2-e/managed_ip_project/managed_ip_project.cache/
gth_wizard_ex/ip/xcku040-ffva1156-2-e/managed_ip_project/managed_ip_project.hw/

gth_wizard_ex/project/project_gth_wizard_ex.cache/
gth_wizard_ex/project/project_gth_wizard_ex.hw/
gth_wizard_ex/project/project_gth_wizard_ex.ip_user_files/

gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/managed_ip_project/managed_ip_project.cache/
gth_wizard_ex_clean/ip/xcku040-ffva1156-2-e/managed_ip_project/managed_ip_project.hw/

gth_wizard_ex_clean/project/project_gth_wizard_ex.cache/
gth_wizard_ex_clean/project/project_gth_wizard_ex.hw/
gth_wizard_ex_clean/project/project_gth_wizard_ex.ip_user_files/
gth_wizard_ex_clean/project/project_gth_wizard_ex.sim/
gth_wizard_ex_clean/project/project_gth_wizard_ex.runs/
gth_wizard_ex_clean/project/iladata.ila/

gth_wizard_ex_clean/source/gtwizard_ultrascale_1_example_checking_8b10b.v
gth_wizard_ex_clean/source/gtwizard_ultrascale_1_example_stimulus_8b10b.v
gth_wizard_ex_clean/source/gtwizard_ultrascale_1_example_top.v
gth_wizard_ex_clean/source/gtwizard_ultrascale_1_example_top_sim.v
gth_wizard_ex_clean/source/gtwizard_ultrascale_1_prbs_any.v

gth_wizard_ex_maxHelper/
gth_wizard_ex_miniHelper/

kcu105_ibert_example/project/example_ibert_ultrascale_gth_0.cache/
kcu105_ibert_example/project/example_ibert_ultrascale_gth_0.hw/
kcu105_ibert_example/project/example_ibert_ultrascale_gth_0.runs/
kcu105_ibert_example/project/example_ibert_ultrascale_gth_0.srcs/
kcu105_ibert_example/project/example_ibert_ultrascale_gth_0.ip_user_files/
kcu105_ibert_example/ip/xcku040-ffva1156-2-e/ibert_ultrascale_gth_0/*
!kcu105_ibert_example/ip/xcku040-ffva1156-2-e/ibert_ultrascale_gth_0/*xci

